*{
    transition: 1s  linear;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}
.grid>*{
    height: 120px;
    background-color: cadetblue;
}

h1{
    text-align: center;
}

.translate{
    background-color: chartreuse;
}
.translate:hover{
    transform: translate(20px,20px);
}

.rotate{
    background-color: blueviolet;
}
.rotate:hover{
    transform: rotate(-45deg);
}

.zoom{
    background-color: aqua;
}
.zoom:hover{
    transform: scale(1.7);
}

.skew{
    background-color: rosybrown;
}
.skew:hover{
    transform: skew(20deg,10deg);
}

.animado{
    animation-duration: 10s;
    animation-name: animacion;
    animation-iteration-count: infinite;

}
.aparecer{
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    background-color: blue;

}

@keyframes animacion {
    0%{width: 0px;
        background-color: rgb(255, 0, 0);}
    10%{width: 10px;
        background-color: rgb(255, 51, 0);}
    20%{width: 20px;
        background-color: rgb(255, 123, 0);}
    30%{width: 30px;
        background-color: rgb(255, 166, 0);}
    40%{width: 40px;
        background-color: rgb(251, 255, 0);}
    50%{width: 50px;
        background-color: rgb(200, 255, 0);}
    60%{width: 60px;
        background-color: rgb(179, 255, 0);}
    70%{width: 70px;
        background-color: rgb(115, 255, 0);}
    80%{width: 80px;
        background-color: rgb(81, 255, 0);}
    90%{width: 90px;
        background-color: rgb(21, 255, 0);}
    100%{width: 100px;
        background-color: rgb(0, 255, 42);}
}

@keyframes aparecer {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}